# data
data/*
!data/.gitkeep
predict/*
!predict/data_to_predict.csv

# notebooks
notebooks/*
!notebooks/*.ipynb
*.ipynb_checkpoints

# mlruns
mlruns

# cache
scripts/__pycache__
__pycache__

# cloud keys
cfl-streamlit_aws.pem
cfl-streamlit_azure.pem

# logs
log
*.log

# vscode
.vscode

# others
.idea
requirements.txt